* {
    padding: 0;
    margin: 0;
}



/* shared related style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

main {
    margin: 0 200px;

}

/* banner IN HEADER  section */

header {
    display: flex;
    justify-content: end;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-bottom: 140px;
    text-align: right;

}


.banner-container {
    text-align: right;
    margin: 215px 130px 360px 0;
}

.banner-title {


    width: 500px;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    width: 500px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn {
    border: none;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 160px; */


}

.btn-primary {
    display: flex;
    justify-content: right;
}

.banner-container banner-title,
.banner-container banner-description,
.banner-container button {
    display: block;
    text-align: right;
}

/* main section */

/* my failure section */
.section-container {
    display: flex;
    gap: 85px;
    justify-content: center;
    align-items: center;
}


.section-img {
    /* border-radius: 527px;
    background: rgba(241, 91, 34, 0.20); */
    margin-left: 25px;

}

.section-content {
    /* margin-right: 320px;
    margin-left: 0; */
    text-align: left;
}


.section-content-title {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-right: 128px;
    margin-bottom: 24px;


}

.section-content-des {
    color: #444343;
    margin-bottom: 16px;
    line-height: 26px;
}


.section-content-info li {
    list-style: square;
    text-align: left;
    margin-left: 20px;
}

/* my plane section */

.plane-container {
    margin: 130px 0;
}

.plane-info {
    display: flex;
    justify-content: space-between;


}

.plane-header {
    text-align: center;
    margin-bottom: 50px;
}

.plane-content {
    text-align: center;
}


.plane-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;

}

.plan-description {
    color: #737272;
    text-align: center;
    font-weight: 500;

}

/* think section */

.think-container {
    width: cover;
    height: 300px;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 130px;

}

.think-content {
    text-align: left;
    padding: 60px 300px 60px 60px;

}

.think-title {
    /* margin-top: 60px; */
    color: #FFF;
    font-size: 40px;
    font-weight: 700;

}

.think-btn {
    border: none;
    border-radius: 5px;
    background: #FFF;
    margin-top: 24px;
    padding: 20px 40px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}
/* footer section */

footer {
    background: var(--Dark-01, #151414);
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 130px 230px;
    color: #FFF;
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;

}

.feature-des {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 24px;
}

#email {
    margin-bottom: 16px;
}

.feature-social-link {
    display: inline-flex;
    gap: 20px;
    color: #FFFFFF;
    margin-top: 32px;

}

.Subscriber-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.subscribe-email {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #151414;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 21px;
    color: #F3F3F3;
    font-weight: 400;
}

.subscribe-btn {
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;

}